.container_info {
  border: 2px solid gold;
  width: 500px;
}
.container_repo {
  border: 2px solid gold;
  width: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.info {
  font: bolder;
  font-weight: bolder;
}

.repos {
  border-bottom: 1px solid grey;
}
